<!doctype html>
<html lang="en">
<head>
  <title>Su Ayak İzi Hesapalama</title>
</head>
<body style = "background-color: #add1f9; padding: 20px; border-radius: 10px; width: 80%; margin: auto;">
    <div>
      <ul>
      <h1>Su Ayak İzi Nedir??</h1>
      <li><h3>Su ayak izi üretimde harcanan suyun sadece miktarını belirtmekle kalmayan, aynı zamanda türünü ve nerede / ne amaçla harcandığını da gösteren bir göstergedir. Burada su ayak izi bileşenleri üç farklı başlıkta ele alınır.</h3></li>
      <li><h3>Mavi su ayak izi, “mavi su” adı verilen kaynaklardan, yani yüzey ve yeraltı sularından oluşur. Üretimde kullanılan yer altı ve yüzey sularının hacmini belirtir. Yeşil su ayak izi ise yağmur suyu tüketimini ifade eder.</h3></li>
      <li><h3>Buharlaşma ve yağış miktarları göz önünde bulundurularak hesaplanan yeşil su ayak izi, satın aldığınız herhangi bir üründe veya günlük herhangi bir alışkanlığınızda tükettiğiniz suyun kaçta kaçının yağmur suyu kaynaklı olduğunu ifade etmektedir.</h3></li>
      <li><h3>Bunların yanında ‘gri su ayak izi’ mevcuttur. Ürünün üretiminde neden olduğu su kirliliğini ifade eden bu değer, birey bazlı hesaplamalarda günlük aktivitelerde bireysel olarak neden olunan su kirliliği olarak düşünülebilir. Gri su ayak izi, ürünün üretiminde kullanılan kirli su olarak algılanılmamalı, bu kirliliğin etkisini azaltmak için harcanan temiz su olarak algılanmalıdır. Bu aşamada gri su oranı yüksek olan ürünlerde, kirliliği azaltmak için harcanan tatlı su rakamsal olarak ifade edilmektedir.</h3></li>
      </ul>
      
    <h1>Su Ayak İzi Nasıl Hesaplanır??</h1>
    <h3>Su ayak izi testi ile evsel tüketime ait hesaplama yapmak oldukça kolaydır. Doğrudan ve dolaylı olmak üzere temel olarak iki farklı başlığa ayrılan su ayak izinin hesaplanmasında metreküp cinsinden yapılan su harcamasına ek olarak bazı bilgiler gereklidir. Kişisel veya ailesel su tüketimi hesabınızı yaparken evsel tüketim, gıda ve diğer alanlardaki harcamalara dair başlıca bilgiler temel alınır. Bu bilgiler arasında yaşadığınız şehir, evde yaşayan kişi sayısı, aylık içme suyu tüketiminiz, evcil hayvanınızın olup olmaması, aracınızı ne sıklıkla yıkattığınız gibi genel harcamalara ilişkin olanlar, evsel tüketimi belirlemede etkilidir.
Gıda harcamalarında ise tükettiğiniz kırmızı et miktarı ve sıklığı, diğer gıdaların miktarı, çay – kahve tüketiminiz, bu içecekleri şekerli / şekersiz tüketiyor olmanız gibi unsurlar belirleyicidir. Ayrıca, satın aldığınız her bir üründe de su harcandığı için aylık olarak yaptığınız kıyafet, elektronik vb. harcamalar da dolaylı su tüketimi olarak su ayak izi hesabına dahil edilir. Aracınıza kaç litre benzin aldığınız, giyim ve kozmetik alışverişlerine ayırdığınız bütçe gibi birçok etmen aylık hesaplamalarda belirleyicidir.
Bu tarz parametreler baz alındığında, evinize veya şahsınıza ait tüketim şemasına uygun olarak su ayak iziniz hesaplanmış olur. İşletmeler için ise hesaplamada daha farklı bileşenler devreye girer. Üretim aşamasındaki operasyonel faaliyetler ve tedarik edilen ürünlerin üretim sürecinde harcanan su miktarları gibi bileşenler bir arada değerlendirilerek hesaplanır.
</h3>
    </div>
        <a href = "/" style = font-size:larger;color:#e66114>Ana Sayfaya Dön</a>