<!doctype html>
<html lang="en">
<head>
  <title>Suyun Canlılar İçin Önemi</title>
</head>
<body style = "background-color: #add1f9; padding: 20px; border-radius: 10px; width: 80%; margin: auto;">
    <div>
      <ul>
      <h1>Suyun Canlılar İçin Önenmi</h1>
      <li><h3>Su canlıların yaşaması için hayati öneme sahiptir.</h3></li>
      <li><h3>En küçük canlı organizmadan, en büyük canlı varlığa kadar, bütün biyolojik hayatı ve bütün insan faaliyetlerini ayakta tutan sudur.</h3></li>
      <li><h3>Hayatımızı idame ettirebilmemiz için en önemli besin kaynağımız olan su, dolaşım ve sindirim sistemlerinin çalışmasında temel unsur olduğu gibi, vücudumuzdan artık ve zehirli maddelerin atılmasında da mühim bir vazifeyi yerine getirir.</h3></li>
      <li><h3>Su hayattır. İnsan organizmasının önemli bir kısmı sudan meydana gelir. Kan dolaşımının olabilmesi, vücudun zararlı maddelerini atabilmesi, iç zarlarının kurumadan görevini yapabilmesi için hep suya ihtiyaç vardır. Bunun için sağlıklı her insanın aşırı terleme ve ishal halleri dışında, günde en az 1.5 litre suya ihtiyacı bulunmaktadır.</h3></li>
      <li><h3>Dünyamızın 3/4 'ünü Su kaplamaktadır. Vücudumuzun % 60'nı su teşkil etmektedir.</h3></li>
      <li><h3>Dünyadaki suların ancak %2.5'i tatlı sudur.Bunun da %70'i buzullarda, toprakta, atmosferde, yeraltı sularında bulunur ve kullanılamaz durumdadır.</h3></li>
      </ul>    
    </div>
        <a href = "/" style = font-size:larger;color:#e66114>Ana Sayfaya Dön</a>
  