<!doctype html>
<html lang="en">
<head>
  <title>Evde Su Tasarrufu Nasıl Yapılır??</title>
</head>
<body style = "background-color: #add1f9; padding: 20px; border-radius: 10px; width: 80%; margin: auto;">
    <div>
      <ul>
      <h1>Evde Su Tasarrufu Nasıl Yapılır??</h1>
<h2>Mutfak :</h2>
      <li><h3>Evde harcanan suyun yüzde 10'u mutfakta kullanılır. Pişirme, temizleme, yıkama ve içme maksatlı su kullanımında birkaç noktaya dikkat ederek harcamanızı kısabilirsiniz.</h3></li>
      <li><h3>Sebze ve meyvelerinizi akar suyun altında yıkamak yerine, bir kabın içinde yıkayın. Yıkama sularını daha sonra çiçeklerinizi sulamak için tekrar kullanın.</h3></li>
      <li><h3>Ispanak, semizotu, pazı gibi yeşil yapraklı sebzeleri ayıkladıktan sonra ilk yıkama suyuna sirke koyarsanız daha kolay temizlenir.</h3></li>
      <li><h3>Elde bulaşık yıkarken mümkün olan en az miktarda deterjan kullanın. Daha az deterjanı durulamak daha kolaydır. Deterjan yerine doğal yeşil sabun kullanırsanız balıklar ve diğer deniz canlıları daha da memnun olur.</h3></li>
      <li><h3>Musluğun altına yıkadığınız tabakları üst üste koyduktan sonra durulamaya başlayın. Daha az suyla temizleyebilirsiniz.</h3></li>
      <li><h3>Bulaşık makinenizi tamamen dolduğunda çalıştırın.</h3></li>
<h2>Çamaşır :</h2>
      <li><h3>Evde harcadığımız suyun yüzde 15-20'si çamaşır yıkamak için kullanılır. Çamaşır için sadece sadece su değil, enerji ve deterjan da harcanır.</h3></li>
      <li><h3>Çamaşır makinenizi tamamen dolduğunda çalıştırın. Bu şekilde, her yıkamada 10 litreye kadar su tasarruf edebilirsiniz.</h3></li>
      <li><h3>Elde çamaşır yıkarken aynı suda önce beyazları; sonra renklileri yıkayabilirsiniz.</h3></li>
      <li><h3>Çamaşırdan arta kalan suyu yerleri silmek veya tuvaletinize dökmek için kullanabilirsiniz.</h3></li>
<h2>Banyo :</h2> 
        <li><h3>Evde en çok su banyoda harcanır. Günlük harcamamızın yüzde 40'ı banyodadır.</h3></li>
        <li><h3>Banyoda su tasarrufunun en kolay yolu suyu tasarruflu kullanan duş başlığı ve sifon taktırmaktır. 6 dakika duş yaptığınızda, tasarruflu duş başlığıyla her banyoda 50 litreye kadar daha az su harcamış olursunuz.</h3></li>
        <li><h3>Banyo suyunun ısınmasını beklerken suyu bir kovaya doldurun.</h3></li>
        <li><h3>Yıkanacağınız zaman küveti doldurmayı değil, duş yapmayı tercih edin.</h3></li>
        <li><h3>Küvette yıkanmak isterseniz sadece yarısını doldurun.</h3></li>
        <li><h3>Küvetinizi, suyun sıcaklığını kontrol ederek doldurun. Sıcak suyu sonradan ılıtmak su ziyanına yol açar.</h3></li>
<h2>Bahçe :</h2> 
        <li><h3>Bahçenizi, çiçeklerinizi sulamak için günün serin saatlerini seçin. Sabah ve akşam gün batımı daha iyi zamanlardır. Öğle sıcağında sularsanız, buharlaşma ile suyun büyük bölümünü kaybetmiş olursunuz. Çiçeklerinizi sularken kaldırımları değil, sadece çiçekleri sulayacağınız şekilde hareket edin.</h3></li>
        <li><h3>Yaşadığınız yerin iklimine uygun, yerli bitkileri ekin. Yerli bitkiler daha az su ve daha az bakım ile büyüyebilir.</h3></li>
        <li><h3>Kaldırım ve yerleri suyla yıkamak yerine çalı süpürgesiyle süpürün.</h3></li>
        <li><h3>Kurak zamanlarda bahçenize veya balkonunuza kuşların su içip banyo yapabileceği kaplar koyabilirsiniz.</h3></li>
      </ul>    
    </div>
        <a href = "/" style = font-size:larger;color:#e66114>Ana Sayfaya Dön</a>