<!doctype html>
<html lang="en">
<head>
  <title>Su Tasarrufunda Genel Tedbirler</title>
</head>
<body style = "background-color: #add1f9; padding: 20px; border-radius: 10px; width: 80%; margin: auto;">
    <div>
      <ul>
      <h1>Su Tasarrufunda Genel Tedbirler</h1>
      <li><h3>Tarım teknolojisinde az su tüketen sulama usullerinin (damla sulama ve püskürtme gibi) geliştirilmesi.</h3></li>
      <li><h3>Sanayi sektöründe az su kullanan üretim teknolojisi geliştirilmesi, geri kazanımlı su yöntemlerinden faydalanma.</h3></li>
      <li><h3>Toprakta suyun depolanmasını arttırmak için erozyona engel olunması maksadıyla teraslama yapılmalı, bitki örtüsü tahrip edilmemeli, çünkü suyun depolanan miktarı toprağın derinliği ve organik madde oranı ile sıkı bir ilişkiye sahiptir.</h3></li>
      <li><h3>Bitkiyle örtülü bir toprak toprağa giren yağış suyu miktarını çıplak toprağa kıyasla iki katına çıkarmaktadır.</h3></li>
      <li><h3>Hızlı nüfus artışını önleme.</h3></li>
      <li><h3>Suyun gerçek değerini anlayabilecek kadar bilinçlendirme için eğitim.</h3></li>
      <li><h3>Yer altı sularının kirlenmesini önleme.</h3></li>
      <li><h3>Aşırı derecede yer altı suyu kullanımına kanuni tedbirlerle kısıtlama getirme.</h3></li>
      </ul>    
    </div>
        <a href = "/" style = font-size:larger;color:#e66114>Ana Sayfaya Dön</a>